body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 0;
}

/* header */

header {
    background-color: #3e1f47;
    color: #fcd5ce;
}

/* header nav */

ul {
    list-style-type: none;
    display: inline;
}

nav li {
    float: left;
    padding: 10px;
}

a:link {
    color: #ef476f;
    text-decoration: none;
}

a:visited {
    color: #fca311;
}

a[href*="transit"]:hover {
    text-decoration: underline;
}

a[href$="html"]:hover {
    color: #fcd5ce;
}

header h1 {
    text-align: center;
    font-weight: bolder;
    word-spacing: 5px;
    margin-top: 100px;
    margin-bottom: 0;
}

header p {
    text-align: center;
    margin-top: 6px;
}

/* buttons */

button {
    width: 160px;
    height: 38px;
    background-color: #118ab2;
    color: white;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* main */

main {
    background-color: #e8d6cb;
    color: #403d39;
}

/* h1 */

.heading {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
}

h1 + p {
    text-align: center;
    margin-top: 6px;
}

.boxes {
    width: 20%;
    background-color: #fefae0;
    border: 3px solid #cb997e;
    border-radius: 10px;
    margin: 2px auto;
    padding: 10px
}